
.social-icon-bar {
  position: absolute;
  top: 40px;
  right: 40px;
}
.social-icon-bar_container {
}

.social-icon-bar_container_twitter-logo {
  display: inline-block;
  margin: 5px;
  svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  svg:hover {
    fill: $teel;
  }
}

.social-icon-bar_container_github-logo {
  display: inline-block;
  margin: 5px;
  svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  svg:hover {
    fill: $teel;
  }
}

.social-icon-bar_container_linkedin-logo {
  display: inline-block;
  margin: 5px;
  svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  svg:hover {
    fill: $teel;
  }
}
