.social-icon-bar {
  position: absolute;
  top: 40px;
  right: 40px;
}
.social-icon-bar_container {
}

.social-icon-bar_container_twitter-logo {
  height: 20px;
  width: 20px;
  margin:5px;
}

.social-icon-bar_container_github-logo {
  height: 20px;
  width: 20px;
  margin:5px;
}

.social-icon-bar_container_linkedin-logo {
  height: 20px;
  width: 20px;
  margin:5px;
}
